<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="bean_01.xml"/>
    <import resource="bean_02.xml"/>
    <import resource="bean_03.xml"/>
    <import resource="bean_04.xml"/>
</beans>